<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('base/head'); %>
    <title>Login</title>
</head>
<body class="bg d-flex align-items-center justify-content-center text-center text-white">
    <div>
        <h1 style="font-size: 200px;">404</h1>
        <h2 style="font-size: 100px;">Page Not Found</h2>
        <p class="lead" style="font-size: 50px;">Oops! The page you're looking for does not exist.</p>
        <br>
        <a href="/" class="btn btn-primary">Go Back Home</a>
    </div>
    <div style="position: absolute; bottom: 0; right: 0;">
        <div style="padding: 15px;">
            <h3><span class="only">Only</span><span class="blog">Blog</span></h3>
        </div>
        
    </div>
</body>
</html>